table {
	border-style: none;
}
table {
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	vertical-align: text-top;
	
}
td{
	border-style: solid;
	border-width: 2px;
	padding: 5px;	
	vertical-align: text-top;
}
th {
	color:#000000;
	width: 100px;
}
.wrong{
	background-color: red;
}