
<div class="main-body">
  <div class="header">
    <div class="lmi-logo">
      <a href="https://www.lmi.is/"><img id="lmi-logo" src="assets/img/LMI_bordi.png"></a>
      <img id="flag"(click)="changeLanguage()" src={{flag_selected}} >
    </div>
  </div>
  <div class="if-file-radio">
      <input name="is_file_conversion" [(ngModel)]="is_file_conversion" type="radio" [value]="false" /> {{l['convertsingle']}}
      <input name="is_file_conversion"  [(ngModel)]="is_file_conversion" type="radio" [value]="true" /> {{l['convertfile']}}
  </div>
  <div *ngIf="!is_file_conversion">{{instructions}}<a href="/cocodati-files/Cocodati_skyringar.pdf" target="_blank" >{{l['here']}}</a></div>
  <div class="main">
    <div class="input">
      <form class="">
        <table>
          <tr class="source">
            <td >{{l['source']}}</td>
            <td></td>
          </tr>
          <tr>
            <td>{{l['reference']}}:</td>
            <td>
              <select class="input-param" (click)="initSystems()" name="systemfrom" [(ngModel)]="system_selected" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let x of systems" value="{{x}}" > {{x}} </option>
                  <option value="Reykjavík" > Reykjavík City </option>
              </select>
            </td>
          </tr>
          <tr>
            <td>{{l['coorsystem']}}:</td>
            <td *ngIf="system_selected != 'ISN_DRF' && system_to_selected != 'ISN_DRF' && system_selected != 'Reykjavík'">
              <select class="input-param" (click)="initSystems()" name="subsystemfrom" [(ngModel)]="sub_system_from_selected" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let x of sub_systems_from" value="{{x}}" > {{x}} </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'ISN_DRF' || system_to_selected =='ISN_DRF'">
              <select class="input-param" (click)="initSystems()" name="subsystemfrom" [(ngModel)]="sub_system_from_selected" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let x of drf_subsystems" value="{{x}}" > {{x}} </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'Reykjavík'">
              <select class="input-param" (click)="initSystems()" name="subsystemfrom" [(ngModel)]="sub_system_from_selected" [ngModelOptions]="{standalone: true}">
                <option value="XY" > XY </option>
              </select>
            </td>
            <td class="lmi-tooltip">
                <img id="i-logo" src="assets/img/info_icon.png">
                <span class="lmi-tooltiptext">{{inputInfo}}</span> 
            </td>
          </tr>
          <tr *ngIf="(system_selected == 'ISN_DRF' && (system_to_selected == 'ISN2016' || system_to_selected == 'ISN_DRF') && (sub_system_from_selected != 'UTM' && sub_system_from_selected != 'GK'))">
            <td>{{l['epoch']}}</td>
            <td><input id="from_epoch" class="input-param" type="text" [(ngModel)]="from_epoch" name="from_epoch"/></td>
          </tr>
          <tr *ngIf="sub_system_from_selected == 'UTM'">
            <td>{{l['utmzone']}}</td>
            <td>
              <select class="input-param" name="utmZone" [(ngModel)]="zone" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of utm_zones" value="{{x}}" > {{x}} </option>
              </select>
            </td>
          </tr><tr *ngIf="sub_system_from_selected == 'GK'">
            <td>{{l['gkzone']}}</td>
            <td>
              <select class="input-param" name="gkZone" [(ngModel)]="gk_zone" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of gk_zones" value="{{x.cName}}" > {{x.dName}} </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="sub_system_from_selected == 'LatLong' && !is_file_conversion">
              <td>{{y_from_cord_name}}</td> 
              <td><input class="input-param" type="text" [(ngModel)]="y_cord" name="y_cord"/></td>
          </tr>
          <tr *ngIf="!is_file_conversion">
              <td>{{x_from_cord_name}}</td>
              <td><input class="input-param" type="text" [(ngModel)]="x_cord" name="x_cord"/></td>
              <td  *ngIf="sub_system_from_selected == 'LatLong' && system_selected == 'Reykjavik1900'">
                <select class="height-dropdown" (click)="clickHeightRadio()" name="westOf_selected" [(ngModel)]="westOf_selected" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let x of westOf" value="{{x}}" > {{x}} </option>
                </select>
              </td>
          </tr>
          <tr *ngIf="sub_system_from_selected != 'LatLong' && !is_file_conversion">
              <td>{{y_from_cord_name}}</td> 
              <td><input class="input-param" type="text" [(ngModel)]="y_cord" name="y_cord"/></td>
          </tr>
          <tr *ngIf="!is_file_conversion && ((system_selected != 'Hjörsey' && system_to_selected != 'Hjörsey') && system_selected != 'Reykjavik1900' && system_to_selected != 'Reykjavik1900' && system_selected != 'Reykjavík' && system_to_selected != 'Reykjavík'|| sub_system_from_selected =='XYZ')">
            <td>{{z_from_cord_name}}</td>  
            <td><input class="input-param" type="text" [(ngModel)]="z_cord" name="z_cord"/></td>
            <td  *ngIf="sub_system_from_selected != 'XYZ' && system_selected != 'ISN_DRF' && system_to_selected != 'ISN_DRF' && system_selected != 'Reykjavik1900'">
              <select class="height-dropdown" (click)="clickHeightRadio()" name="heightFrom" [(ngModel)]="height_from_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of theights" value="{{x.cName}}" > {{x.dName}} </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="is_file_conversion && sub_system_from_selected != 'XYZ' && system_selected != 'Hjörsey' && system_to_selected != 'Hjörsey' && system_selected != 'ISN_DRF' && system_selected != 'Reykjavik1900' && system_to_selected != 'Reykjavik1900'">
              <td>{{l['heightsystem']}}</td>
            <td>
              <select class="height-dropdown" (click)="clickHeightRadio()" name="heightFrom" [(ngModel)]="height_from_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of theights" value="{{x.cName}}" > {{x.dName}} </option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="middlespace" >
      <div *ngIf="is_file_conversion">
        <form>
          <div>
            <table>
              <tr>
                <td>{{l['name']}}:</td>
                <td><input type="text" [(ngModel)]="username" name="username"/></td>
              </tr>
              <tr>
                <td>{{l['email']}}:</td>
                <td><input type="text" [(ngModel)]="email" name="email"/></td>
              </tr>
              <tr>
                <td>{{l['header']}}:</td>
                <td><input type="text" [(ngModel)]="file_header" name="file_header"/></td>
              </tr>
              <tr>
                <td>
                  <label class="btn btn-primary" id="custom-file-upload">
                      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                      {{l['upload_file']}}
                  </label>
                </td>
                <td *ngIf="fileToUpload != null">
                  {{fileToUpload.name}}
                </td>
                <td *ngIf="fileToUpload == null">
                  {{l['no_file_chosen']}}
                </td>
              </tr>
              <tr>
                {{l['ex']['FileFormat']}}<a href="/cocodati-files/FileFormatsCocodati.pdf" target="_blank" >{{l['here']}}</a>
              </tr>      
            </table>
          </div>
      
        </form>
      </div>
      <form *ngIf="!is_file_conversion" class="convert-btn">   
          <!--<button (click)="convert()" id="pan-to" class="convert"></button>-->
          <button  id="pan-to" class="btn btn-primary" >{{l['convert']}}</button>
      </form>
      <form *ngIf="is_file_conversion" class="convert-file-btn">   
          <!--<button (click)="convert()" id="pan-to" class="convert"></button>-->
          <!--button  id="pan-to" class="btn btn-primary" (click)="open(content)">{{l['convert']}}</button-->
          <button  id="pan-to" class="btn btn-primary" (click)="fileConvert()">{{l['convert']}}</button>
      </form>
      <div class="filebox" *ngIf="fileDp()">
        <div class="file-header">
          <div id="file-h">
            {{pop_up_message.header}}
          </div>
          <div class="close">
            <button id="close-btn" (click)="closeFileBox()">X</button>
          </div>
        </div>
        <div class="file-message">
          {{pop_up_message.message}}
        </div>
        

      </div>
    </div>
    <div class="output">
      <form>
        <table>
          <tr class="target">
            <td>
              {{l['target']}}
            </td>
            <td></td>
          </tr>
            
          <tr>
            <td>{{l['reference']}}:</td>
            <td *ngIf="system_selected != 'ISN_DRF' && system_selected != 'ISN2016' && system_selected != 'Reykjavik1900' && system_selected != 'ISN93' && system_selected != 'Hjörsey' && system_selected != 'Reykjavík' ">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of systems_to" value="{{x}}" > {{x}} </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'ISN2016'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of systems_to" value="{{x}}" > {{x}} </option>
                <option value="ISN_DRF" > ISN_DRF </option>
                <option value="Reykjavík" > Reykjavík City </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'ISN93'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of systems_to" value="{{x}}" > {{x}} </option>
                <option value="Reykjavik1900" > Reykjavik1900 </option>
                <option value="Reykjavík" > Reykjavík City </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'Hjörsey'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of systems_to" value="{{x}}" > {{x}} </option>
                <option value="Reykjavik1900" > Reykjavik1900 </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'ISN_DRF'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                <option value="ISN2016" > ISN2016 </option>
                <option value="ISN_DRF" > ISN_DRF </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'Reykjavik1900'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                  <option value="ISN93" > ISN93 </option>
                <option value="Hjörsey" > Hjörsey </option>
                <option value="Reykjavik1900" > Reykjavik1900 </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'Reykjavík'">
              <select class="input-param" (click)="initSystems()" name="systemto" [(ngModel)]="system_to_selected" [ngModelOptions]="{standalone: true}">
                  <option value="ISN93" > ISN93 </option>
                  <option value="ISN2016" > ISN2016 </option>
              </select>
            </td>
          </tr>
          <tr>
            <td>{{l['coorsystem']}}:</td>
            <td *ngIf="system_to_selected != 'ISN_DRF' && system_selected != 'ISN_DRF' && system_selected != 'Reykjavík' && system_to_selected != 'Reykjavík' ">
              <select class="input-param" (click)="initSystems()" name="subsystemto" [(ngModel)]="sub_system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of sub_systems_to" value="{{x}}" > {{x}} </option>
              </select>
            </td>
            <td *ngIf="system_to_selected == 'ISN_DRF' || system_selected == 'ISN_DRF'">
              <select class="input-param" (click)="initSystems()" name="subsystemto" [(ngModel)]="sub_system_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of drf_subsystems" value="{{x}}" > {{x}} </option>
              </select>
            </td>
            <td *ngIf="system_selected == 'Reykjavík'">
              <select class="input-param" (click)="initSystems()" name="subsystemto" [(ngModel)]="sub_system_to_selected" [ngModelOptions]="{standalone: true}">
                  <option value="LatLong" > LatLong </option>
                  <option value="LCC" > LCC </option>
              </select>
            </td>
            <td *ngIf="system_to_selected == 'Reykjavík'">
              <select class="input-param" (click)="initSystems()" name="subsystemto" [(ngModel)]="sub_system_to_selected" [ngModelOptions]="{standalone: true}">
                  <option value="XY" > XY </option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="latlong-radio" *ngIf="sub_system_to_selected =='LatLong'">
                <div>
                  <input name="latlong_format_selected" [(ngModel)]="latlong_format_selected" type="radio" [value]=latlong_formats[0] /> {{l['dms']}}
                  <input name="latlong_format_selected"  [(ngModel)]="latlong_format_selected" type="radio" [value]=latlong_formats[1]/> {{l['dm']}}
                  <input name="latlong_format_selected"  [(ngModel)]="latlong_format_selected" type="radio" [value]=latlong_formats[2]/> {{l['decimal']}}
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="(system_to_selected == 'ISN_DRF' && (system_selected == 'ISN2016' || system_selected == 'ISN_DRF') && (sub_system_to_selected != 'UTM' && sub_system_to_selected != 'GK'))">
            <td>{{l['epoch']}}</td>
            <td><input id="to_epoch" class="input-param" type="text" [(ngModel)]="to_epoch" name="to_epoch"/></td>
          </tr>
          <tr *ngIf="sub_system_to_selected == 'UTM'">
            <td>{{l['utmzone']}}</td>
            <td>
              <select class="input-param" name="utmZone" [(ngModel)]="zone" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of utm_zones" value="{{x}}" > {{x}} </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="sub_system_to_selected == 'GK'">
              <td>{{l['gkzone']}}</td>
              <td>
                <select class="input-param" name="gkZone" [(ngModel)]="gk_zone" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let x of gk_zones" value="{{x.cName}}" > {{x.dName}} </option>
                </select>
              </td>
          </tr>
          <tr *ngIf="sub_system_to_selected == 'LatLong' && !is_file_conversion">
            <td>{{y_to_cord_name}}</td>
            <td>
              <input class="input-param" type="text" [(ngModel)]="y_cord_converted" name="y_cord_converted"/>
            </td>
          </tr>
          <tr *ngIf="!is_file_conversion">
            <td>{{x_to_cord_name}}</td>
            <td><input class="input-param" type="text" [(ngModel)]="x_cord_converted" name="x_cord_converted"/></td>
          </tr>
          <tr *ngIf="sub_system_to_selected != 'LatLong' && !is_file_conversion">
            <td>{{y_to_cord_name}}</td>
            <td><input class="input-param" type="text" [(ngModel)]="y_cord_converted" name="y_cord_converted"/></td>
          </tr>
          <tr *ngIf="!is_file_conversion && ((system_selected != 'Hjörsey' && system_to_selected != 'Hjörsey' && system_selected != 'Reykjavik1900' && system_to_selected != 'Reykjavik1900' && system_selected != 'Reykjavík' && system_to_selected != 'Reykjavík')) || (sub_system_to_selected =='XYZ' && !is_file_conversion)">
            <td>{{z_to_cord_name}}</td> 
            <td><input class="input-param" type="text" [(ngModel)]="z_cord_converted" name="z_cord_converted"/></td>
            <td *ngIf="sub_system_to_selected != 'XYZ' && system_to_selected != 'Hjörsey' && system_to_selected != 'Reykjavik1900'">
              <select class="height-dropdown" (click)="clickHeightRadio()" name="heightTo" [(ngModel)]="height_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of theights" value="{{x.cName}}" > {{x.dName}} </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="is_file_conversion && sub_system_to_selected != 'XYZ' && system_selected != 'Hjörsey' && system_to_selected != 'Hjörsey' && system_to_selected != 'Reykjavik1900'">
            <td>{{l['heightsystem']}}</td>
            <td>
              <select class="height-dropdown" (click)="clickHeightRadio()" name="heightTo" [(ngModel)]="height_to_selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let x of theights" value="{{x.cName}}" > {{x.dName}} </option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>     
  </div>
  <div class="actions">
    
  </div>
  <div class="fileinput" *ngIf="is_file_conversion">
    <div>
    </div>
    
    <div>
    </div>
  </div>
  <div>
      <div class="map-img">
          <div id="map" class="map"></div>
          <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
          </div>
          <!--<button id="pan-to">{{l['pan']}}</button>-->
      </div>
  </div>
</div> 

