/*div{
  border:1px solid black;
}*/
.filebox{

  position: absolute;
  left: 0; 
  right: 0; 
  top:100px;
  margin-left: auto; 
  margin-right: auto; 
  height:200px;
  width: 500px;
  border-radius: 25px;
  background-color: #004a8f;
  color:white;
  z-index: 10000;
}
.file-header{
  display: grid;
  grid-template-columns: auto auto;
}
#file-h{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}
.file-message{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.close{
  display:block;
  margin-left:auto;
  margin-right:10px;
  margin-top:10px;
  
}

#close-btn{
  display: block;
  
  height:40px;
  width: 40px;
  border-radius:50%;
  border:none;
  text-align: center;
  color:#ffffff;
  font-weight: bold;
  background-color: #ff0000 !important;
}
#close-btn:hover{
  cursor: pointer;
  background-color: #ff0000;
}
.header{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
    /*background-color: #004a8f;*/
  }
  .is-file-radio{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
    -ms-grid-columns:1fr 1fr 1fr;
    -ms-grid-rows:1fr;
  }
  form  { 
    display: table;
    margin:auto;
    text-align: left; 
  }
  p{ 
    display: table-row;  
  }
  #popup-content{
    font-size: 87.5%;
    color:#000000;
    word-break: break-word;
    font-size:0.8em;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  label { display: table-cell; }
  input { 
    display: table-cell;
  }
  select { 
    float:right; 
  }
  .input-param{
    width:185px;
  }
  #from_epoch,#to_epoch {
    color:blue;
  }
  .source{
    border-bottom: 1.5px solid #004a8f;
  }
  .target{
    border-bottom: 1.5px solid #004a8f;
  }
  .main-body{
    background-color: #f8f8f8;
    font-family: Helvetica, Arial;
    text-align: center;
  }
  .output{
    font-weight: bold;
  }
  .input{
    font-weight: bold;
  }
  .convert-btn{
    display:block;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #pan-to{
    display:block;
    margin: 0 auto;
    background-color:#004a8f;
    border-color: #004a8f;
  }
  
  #lmi-logo{
    /*width: 130px;*/
    height:36px;
    padding-top:5px;
    padding-bottom:5px;
    float: left;
  }
  .lmi-logo{
    max-width: 200px;
  }
  #flag{
    float:right;
    padding-right: 5px;
    padding-top:7px;
    padding-bottom:5px;
  }
  .map-img{
    max-width: 65%;
    max-height:65%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .main{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
  }
  .fileinput{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
  }
  .actions{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
  }
  .latlong-radio{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,auto));
    font-size: .7em;
  }
  .file{
    margin: auto;
    text-align: center;
  }
  
  .ol-popup {
    position: absolute;
    background-color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: #ffffff;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
    color:#004a8f;
  }
  .lmi-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .lmi-tooltip .lmi-tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: lighter;
    /*
    position: absolute;
    z-index: 1;
    top: -5px;*/
    left: 105%;
    
    position: absolute;
    top: 50%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  
  .lmi-tooltip:hover .lmi-tooltiptext {
    visibility: visible;
  }
  #i-logo{
    height:1em;
    width:1em;
  }
  
  input[type="file"] {
    display:none;
  }
  #custom-file-upload {
    border: 1px solid #004a8f;
    background-color: #004a8f;
    color:#ffffff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .height-dropdown{
    height:30px;
  }
  a{
    color:#004a8f;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
  .if-height-to-radio{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .if-height-from-radio{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  @media screen and (max-width: 512px) {
    .lmi-tooltip:hover .lmi-tooltiptext {
      visibility: hidden;
    }
    .map-img{
      max-width: 100%;
      max-height: 100%;
    }
    .convert-btn{
      display:block;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }